$input-search-background: #efefef;
$input-search-height: 40px;
.header {
  background: $primary2;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
  }

  &__logo-block {
    display: flex;
    align-items: center;
  }
  &__logo-img {
  }
  &__logo-title {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: 0.1em;

    color: $primary1;
    margin-left: 20px;
  }
  &__search-block {
    display: flex;
    align-items: center;
    background-color: $input-search-background;
    border-radius: 40px;
    height: $input-search-height;
  }
  &__search-icon {
    margin: 5px;
    padding: 10px 20px;
  }
  &__search-input {
    background: none;
    border: none;
    outline: none;
  }
}
