.header-navigation {
  background: $primary3;
  &__link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $info-text-color;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__wrapper {
    display: flex;
    padding: 17px 0;
    align-items: center;
    justify-content: center;
  }
}
