html {
  font-size: 10px;
  line-height: 10px;
  color: black; }

body {
  margin: 0; }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: underline; }

.header-navigation {
  background: #efefef; }
  .header-navigation__link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #333333; }
    .header-navigation__link:not(:last-child) {
      margin-right: 30px; }
  .header-navigation__wrapper {
    display: flex;
    padding: 17px 0;
    align-items: center;
    justify-content: center; }
